.img-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2%;
  padding-top: 1%;
}

.card-arrow {
  color: white;
}

.name-population-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1%;
}

span {
  color: white;
  font-size: 70%;
  text-transform: uppercase;
}
