body {
  background-color: #fd5294;
}

.top-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0.5rem;
  background-color: #fd5294;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-left: 1.5rem;
}

.country-title li {
  list-style-type: none;
  text-transform: uppercase;
  margin-right: 2.5rem;
  font-weight: 600;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.center {
  background-color: #df4783;
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-size: 0.7rem;
}

.country-details-wrapper {
  margin-left: -10%;
}

.country-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.country-details li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: #f2d1df;
  text-transform: capitalize;
}

.country-details li:nth-child(odd) {
  background-color: #e94988;
}

.country-details li:nth-child(even) {
  background-color: #cd4076;
}
