.container {
  background-color: #fd5294;
}

#written-content {
  padding: 5%;
}

h2 {
  font-weight: 700;
}

.card-container {
  margin: 0;
  padding: 0;
}

.center {
  background-color: #df4683;
}

/* .card-container img {
  max-width: 80%
} */
